.counter {
	display: flex;
	width: 1ch;
	overflow: hidden;
}

.dial {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1ch;
	height: 1em;
	transform-style: preserve-3d;
	perspective: 500px;
}

.number {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 1em;
	transform-origin: center;
	backface-visibility: hidden;
}
