.counter {
	display: flex;
	width: 1ch;
	overflow: hidden;
}

.dial {
	width: 1ch;
	height: 1em;
	perspective: 500px;
	transform-style: preserve-3d;
}

.number {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 1em;
	line-height: 1em;
	transform-origin: center;
	backface-visibility: hidden;
}
